@{
    Layout = "_Layout";
    ViewData["CurrentPage"] = "blog-home";
}
@model Asura.Models.HomeViewModel

<div id="content" class="inner">
    
    @foreach (var article in Model.Articles)
    {
        <article class="post post-list">
            <div class="meta">
                <div class="date">
                    <time>@article.CreateTime.ToString("D")</time>
                </div>
                <div class="comment">
                    <a href="/p/@(article.Slug).html#comments">@article.Count Comments</a>
                </div>
            </div>
            <h1 class="title">
                <a href="/p/@(article.Slug).html">@article.Title</a>
            </h1>
            <div class="entry-content">
                <p><markdown text="@article.Excerpt"/>[...]</p>
                <p>
                    <a href="/p/@(article.Slug).html" class="more-link">继续阅读 »</a>
                </p>
            </div>
        </article>
    }
   

    <nav class="page-navi">
        @if (Model.Prev > 0)
        {
            <a href="/page/@Model.Prev" class="prev">« 上一页</a>
        }
        @if (Model.Next > 0)
        {
            <a href="/page/@Model.Next" class="next">下一页 »</a> 
        }
        <div class="center">
            <a href="/archives.html">博客归档</a>
        </div>
    </nav>
</div>